<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="object-src 'none'">

    <link type="text/css" rel="stylesheet" href="/node_modules/codemirror/lib/codemirror.css"/>
    <link type="text/css" rel="stylesheet" href="/node_modules/codemirror/theme/lucario.css"/>
    <link type="text/css" rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/node_modules/bootstrap-vue/dist/bootstrap-vue.min.css"/>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>

    <script type="text/javascript" src="/node_modules/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/node_modules/codemirror/mode/shell/shell.js"></script>
    <script type="text/javascript" src="/node_modules/codemirror/mode/powershell/powershell.js"></script>
    <script type="text/javascript" src="/views/libs/ease-pack/EasePack.min.js"></script>
    <script type="text/javascript" src="/views/libs/rAF/rAF.js"></script>
    <script type="text/javascript" src="/views/libs/tween-light/TweenLite.min.js"></script>
    <script type="text/javascript" src="/views/build.js"></script>
</body> 
</html>